section {
    margin: 100px;
    background-color: #77819c;
}

.block {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
}

.item {
    background-color: #bff3f0;
}

.item1 {
    background-color: #c6c0eb;
    /* grid-column: 1 / 6;
    grid-row: 1 / 3; */
    grid-area: 1 / 2 / 2 / 6;
}

.item2 {
    background-color: #eec0f7;
    /* grid-column: 2 / 3;
    grid-row: 2 / 3; */
    grid-column-start: span 4;
}

.item9 {
    background-color: #fff;
    grid-column-start: 8;
    grid-row-end: 4;
}

.wrap {
    height: 200px;
    display: grid;
    gap: 10px;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, 100px);
    align-items: center;
}

.box {
    font-size: 24px;
    color: white;
    height: 100px;
}
.box1 {
    background-color: #FDEDED;
}
.box2 {
    background-color: #EDFFF0;
    /* justify-self: stretch; */
    /* align-self: end; */
    /* margin: auto; */
}
.box3 {
    background-color: #AEDEFC;
}
.box4 {
    background-color: #e5b6df;
}
.box5 {
    background-color: #bad9ec;
}
.box6 {
    background-color: #a9eedc;
}

.container {
    margin: 100pxs;
    width: 960px;
    height: 300px;
    /* background-color: #f0ecec; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr); */
    /* grid-template-rows: 200px 100px; */
    grid-template-areas:
    "hh hh hh hh hh"
    "ss mm mm mm mm"
    "ss mm mm mm mm"
    "ss ff ff ff ff";
    gap: 20px;
    /* grid-template-columns: 5% 60%; */
    /* grid-template-rows: 100px auto; */
}

header {
    grid-area: hh;
    background-color: #F1F3E0;
}
aside {
    grid-area: ss;
    background-color: #D2DCB6;
}
main {
    grid-area: mm;
    background-color: #A1BC98;
}
footer {
    grid-area: ff;
    background-color: #778873;
}

.card {
    background-color: #8f96bc;
    position: relative;
}

.card-img {
    aspect-ratio: 4 / 3;
    width: 100%;
    object-fit: cover;
}