section {
    margin: 100px;
    background-color: #54a781;
}

.card {
    width: 300px;
    padding: 20px;
    background-color: #9486cc;
}

.img-wrap {
    aspect-ratio: 4 / 3;
    position: relative;
    overflow: hidden;
}

.img-wrap:hover .card-img:nth-of-type(2) {
    left: 0;
}

.img-wrap:hover .hint {
    bottom: 0px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
    transition: all 1s ease;
}

.hint {
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    background-color: #e595b5;
    color: aquamarine;
    text-align: center;
    padding: 4px 0;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #fff;
    font-size: 36px;
}

