section {
    margin: 100px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: rgb(225, 193, 119);
    font-size: 24px;
    /* transition-property: background-color, border-radius;
    transition-duration: 4s, 6s; */
    transition-property: background-color, sborder-radius;
    transition-duration: 2s, 4s;
    transition-delay: 0s, 0s;
    /* transition-delay: -1s; 實務上用不到負值 */
    /* transition-timing-function: cubic-bezier(.17,.67,.94,.63);
    transition-property: all;
    transition-duration: 2s, 4s; */
}

.box:hover {
    background-color: #74cfaf;
    border-radius: 70px;
    transition-property: border-radius, background-color;
    transition-duration: 2s, 3s;
    transition-delay: 0s, 2s;
}