section {
    margin-top: 100px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: wheat;
    position: fixed;
    opacity: 0.8;
    bottom: 0;
    left: 0;
}

header {
    height: 90px;
    width: 100%;
    background-color: rgb(188, 187, 187);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.squ {
    width: 300px;
    height: 300px;
    background-color: #c8cddc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.mask {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(27, 27, 27); */
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.btn {
    padding: 20px;
    background-color: rgb(158, 183, 155);
}

.btn:hover {
    transform: scale(1.2);
    /* transform: 1.2; 這個寫法也可以 */
}